@extends('layouts.app_manage')
@section('content')
.row
  
  .col-lg-12
    .row
      ol.breadcrumb
        li
          a(href='#')
            svg.glyph.stroked.home
              use(xlink:href='#stroked-home')
        li 
          a(href!=" {{url('manage/solution')}} ") 方案管理
        li.active 方案編輯-{!! isset($solution)?$solution->title:"" !!}
    @yield('content')
  .col-lg-12
    h1.page-header 方案管理


form(action!="{{ (isset($solution))?(url('manage/solution/'.$solution->id)):(url('manage/solution/')) }}" method="post").row#form_question

  .col-sm-3
    .panel.panel-default
      .panel-heading 方案設定
      .panel-body
        //.form-group
          label 首頁置頂
          br
          .btn-group
            label(for='stick_top')
              | 置頂
              input(type='radio', name='stick_top', value='1')
            label(for='stick_top')
              | 否
              input(type='radio', name='stick_top', value='0')
        .form-group
          label(for='title') 方案名稱
          input(id="title", name="title" ,class='form-control' value!='{!! isset($solution)?$solution->title:"" !!}')
        .form-group
          label(for='sub_title') 副標題
          input(id="sub_title", name="sub_title" ,class='form-control' value!='{!! isset($solution)?$solution->sub_title:"" !!}')
        

        .form-group
          label(for='sub_content') 方案說明
          textarea(id="sub_content", name="sub_content" ,class='form-control',rows=9) {!! isset($solution)?$solution->sub_content:"" !!}
    
        .form-group
          label(for='solution_area_slogan') 方案區塊對應文案
          input(id="solution_area_slogan", name="solution_area_slogan" ,class='form-control',rows=2 , value!='{!! isset($solution)?$solution->solution_area_slogan:"" !!}')
        
        .form-group
          label(for='boxbg') 方案區塊背景
          carousel_editor(:carousel_data="[solution.boxbg]",:input_name="'boxbg'", :allow_multi="false") 
        solution_selector(:part="solution")

        .form-group
          button.btn.btn-danger.btn-md(type='submit') 儲存修改


  .col-sm-9
    .panel.panel-primary
      .panel-heading 編輯方案-{{ (isset($solution))?$solution->id:'' }}
      .panel-body
      
        carousel_editor(:carousel_data="solution.carousel")
        input(type='hidden', name='_method', value="{{ (isset($solution))?'put':'post' }}")
        input(type='hidden', name='_token', value!='{{ csrf_token() }}')

        .form-group
          label(for='test_item_title') 檢驗標題
          input#test_item_title.form-control(name='test_item_title', value!='{!! isset($solution)?$solution->test_item_title:"" !!}')
        .form-group
          label(for='test_item') 檢驗項目
          textarea#content(name="test_item" ,class='form-control' ,rows=15) {!! isset($solution)?$solution->test_item:"" !!}
        
        .form-group
          label(for='env_title') 檢驗標題
          input#env_title.form-control(name='env_title', value!='{!! isset($solution)?$solution->env_title:"" !!}')
        .form-group
          label(for='env') 適用環境
          input(type="hidden" style="display: hidden", id="env", name="env" ,class='form-control',rows=4 ,v-model="solution.env")

          tiny-mce(id = "input_env" , v-model="solution.env",:other-props="mce_plugin",  :toolbar="mce_toolbar")
        
        .form-group
          label(for='schedule_title') 檢驗標題
          input#schedule_title.form-control(name='schedule_title', value!='{!! isset($solution)?$solution->schedule_title:"" !!}')
        .form-group
          label(for='schedule') 方案類型
          input(type="hidden" style="display: hidden" id="schedule", name="schedule" ,class='form-control',rows=4, v-model="solution.schedule")

          tiny-mce(id = "input_schedule" , v-model="solution.schedule",
          :other-props="mce_plugin",  :toolbar="mce_toolbar")
        

        .form-group
          label(for='talk') 口碑
          ul
            li.form_group(v-for="(talk,tid) in solution.talk")
              label(v-text="(tid+1)+':'")
              input.form-control(v-model="talk.title")
              input.form-control(v-model="talk.name")
              button.btn.btn-default(@click="solution.talk.splice(tid,1)") 移除
          button.btn.btn-default(@click="solution.talk.push({title: '',name: ''})") 新增口碑

          input(type="hidden" ,id="talk", name="talk" ,class='form-control', :value!="JSON.stringify(solution.talk)")

        br
        br




@endsection

@section('require_js')
script.
  if (!window.data_storage){
    window.data_storage={};
  }
  window.require_js={};
  window.require_js.dropzone=true;
  window.require_js.tinymce=true;
  @if (isset($solution))
    window.solution= {!! json_encode($solution) !!}
    window.solution.talk= JSON.parse(window.solution.talk)
    window.solution.section_solution= JSON.parse(window.solution.section_solution)
  @else
    window.solution={}
  @endif
  
  solution.carousel=JSON.parse(solution.carousel)
    
@endsection
@section('require_js_after')
  script.
    $("#tag").val("{{isset($solution)?($solution->tag):''}}");
    $(window).ready(function(){
      //- var value={!! isset($solution)?$solution->stick_top:0 !!};
      $("input[name=stick_top][value="+value+"]").attr("checked","checked");
    });
@endsection

